@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #d4e5ff;
}

.dice-container {
  width: 15.063rem;
  height: 22.813rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #92b4ec;
  border-radius: 20px;
  box-shadow: 0px 9px 8px -3px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.reload i {
  color: white;
  position: relative;
  top: -66px;
  left: -97px;
}

.dice img {
  box-shadow: 0px 10px 17px rgba(21, 26, 165, 0.09);
}

p {
  font-size: 8px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 65px;
}

.button-container button i {
  font-size: 1.5em;
  color: rgb(55, 70, 73) ;
}

.button-container button {
  width: 12.75rem;
  height: 3.563rem;
  background: #ffe69a;
  box-shadow: 0px 10px 17px rgba(21, 26, 165, 0.09);
  border: none;
  border-radius: 10px;
  position: relative;
  top: 70px;
  transition:0.3s ;
}

.button-container button:hover {
  background-color: #ffdc74;
  
}

/* animation */

.shake {
  animation: shake 10s infinite ;
  
  
}

@keyframes shake {
  0% {
    transform: rotate(50deg);
  }
 
  50% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(50deg);
  }

}
